[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
cython = "*"
pymssql = {git = "https://github.com/pymssql/pymssql.git"}
pyodbc = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6.6"
