[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
"psycopg2" = "*"
pyodbc = "*"
cython = "*"
pymssql = {git = "https://github.com/pymssql/pymssql.git"}

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
